body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    padding-top: 45px; 
    padding-left: 90px;
    color: white;
    font-family: 'Inter', sans-serif;
}

header img {
    width: 10%;
    margin: 2% 0% 3% 1%;
    display: inline;
}

main {
    text-align: center;
    margin: 1% 25% 5% 25%;
    position: relative;
}

#difficulty button {
    color: #0C113B;
    background-color: #00FFFF;
    padding: 15px 50px;
    font-size: 20px; 
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 10px #00FFFF, 0 0 40px #00FFFF;
    border: none;
}

#difficulty h1 {
    color:#D20094 ;
}

#question {
    margin-bottom: 80px;
}

li {
    display: inline;
}

#contatore {
    margin: 50px;
}

button {
    width: 40%;
    padding: 2%;
    margin: 1% 1% 1% 1%;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    border-top: 3px 0 0 1px solid rgba(255, 255, 255, 0.6);
    border-left: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 -4px 1.5px 0 rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
button:hover {
    transform: translateY(2px);
    box-shadow: 0 -2px 8px 0 rgba(255, 255, 255, 1);
    background-color: #D20094;
  }

#timer-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    color: white;
    margin-top: 1%;
    margin-right: 2%;
}

#timer-circle {
    width: 100%;
    height: 100%;
}

#outer-circle {
    fill: none;
    stroke: #00FFFF;
    stroke-width: 20;
    stroke-dasharray: 628;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
}

#timer, #timerup, #timerdown {
    font-size: 24px;
    fill: white;
    text-align: center;
}
#timer{font-size: 80px;}
#timerup, #timerdown{font-size: 18px;}
