@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-image: url(assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

main {
  text-align: center;
  color: white;
}

img {
  width: 10rem;
  text-align: left;
  margin-left: 5rem;
  margin-top: 1.5rem;
}

#titleResults {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

#certificate {
  margin-top: 1rem;
}

#myChartContainer {
  display: inline-block;
  text-align: center;
}
.charts #myChart {
  top: 0;
  left: 0;
}
#myChart {
  width: 900px;
}

#leftText {
  margin-left: 20%;
  position: absolute;
  top: 50%;
  text-align: left;
  left: 10px;
}

#rightText {
  margin-right: 20%;
  position: absolute;
  bottom: 50%;
  text-align: right;
  right: 10px;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 500;
}

span {
  color: #00ffff;
}

.passed {
  color: lightskyblue;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

button {
  background-color: transparent;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border: 2px solid white;
  font-size: 22px;
}
